<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Change</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .container {
        width: 21rem;

        height: 20rem;
        background-color: #fff;
        padding: 3rem;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }

      label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
      }

      .text1 {
        line-height: 1rem;
      }

      p {
        text-align: center;
        font-size: 0.8rem;
        line-height: 0.6rem;
      }

      h1 {
        text-align: center;
        font-size: 1.4rem;
        /* margin-bottom: 2rem; */
      }

      .form-group {
        margin-bottom: 20px;
      }

      .form-group label {
        display: block;
        margin-bottom: 5px;
      }

      .form-group input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
      }

      .password-toggle {
        position: relative;
      }

      .password-toggle .toggle-eye {
        position: absolute;
        top: 50%;
        width: 29px;
        right: -1.1rem;
        transform: translateY(-50%);
        cursor: pointer;
      }

      input[type="password"]:hover {
        border-color: orange;
      }
      input[type="password"]:focus {
        border-color: orange;
      }

      button[type="submit"] {
        cursor: pointer;
        background-color: orange;
        border: none;
        color: white;
        padding: 0.5rem 2rem;
        text-align: center;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: bold;
        border-radius: 4px;
        margin-bottom: 1rem;
        width: 100%;
      }

      button[type="submit"]:hover {
        background-color: #45a049;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="text1">
        <h1>Change Your Password</h1>
        <p>Enter a new password below to change your password</p>
      </div>
      <form action="" enctype="application/x-www-form-urlencoded" method="POST">
        <div class="form-group">
          <label for="newPassword">New Password:</label>
          <div class="password-toggle">
            <input
              type="password"
              id="newPassword"
              placeholder="Password"
              name="Password"
            />
            <img
              class="toggle-eye"
              src="https://res.cloudinary.com/dbgmzkuuh/image/upload/v1709214330/sojotbbgh3m4chgm1xqp.png"
              alt="Show Password"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password:</label>
          <div class="password-toggle">
            <input
              type="password"
              id="confirmPassword"
              placeholder="Confirm your password"
              name="Password2"
            />
            <img
              class="toggle-eye Ctoggle-eye"
              src="https://res.cloudinary.com/dbgmzkuuh/image/upload/v1709214330/sojotbbgh3m4chgm1xqp.png"
              alt="Show Password"
            />
          </div>
        </div>
        <button type="submit">Change Password</button>
      </form>
    </div>

    <script>
      const toggleEye = document.querySelector(".toggle-eye");
      const C_toggleEye = document.querySelector(".Ctoggle-eye");
      console.log(C_toggleEye);
      const newPasswordInput = document.getElementById("newPassword");
      const CnewPasswordInput = document.getElementById("confirmPassword");
      C_toggleEye.addEventListener("click", function () {
        const type =
          CnewPasswordInput.getAttribute("type") === "password"
            ? "text"
            : "password";
        CnewPasswordInput.setAttribute("type", type);
        this.src =
          type === "password"
            ? "https://res.cloudinary.com/dbgmzkuuh/image/upload/v1709214330/sojotbbgh3m4chgm1xqp.png"
            : "https://res.cloudinary.com/dbgmzkuuh/image/upload/v1709212460/kkewp2hcgvdtey2rstzn.png";
      });
      toggleEye.addEventListener("click", function () {
        const type =
          newPasswordInput.getAttribute("type") === "password"
            ? "text"
            : "password";
        newPasswordInput.setAttribute("type", type);
        this.src =
          type === "password"
            ? "https://res.cloudinary.com/dbgmzkuuh/image/upload/v1709214330/sojotbbgh3m4chgm1xqp.png"
            : "https://res.cloudinary.com/dbgmzkuuh/image/upload/v1709212460/kkewp2hcgvdtey2rstzn.png";
      });

      // const onSubmit = async (e) => {
      //   const rawResponse = await fetch("http://localhost:4000/user/reset", {
      //     method: "POST",
      //     headers: {
      //       Accept: "application/json",
      //       "Content-Type": "application/json",
      //     },
      //     body: JSON.stringify({ a: 1, b: "Textual content" }),
      //   });
      //   const content = await rawResponse.json();
      // };
    </script>
  </body>
</html>
