<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <style>
      .reset-password-container {
        width: 90%;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }

      .reset-password-button {
        text-decoration: none;
        background-color: orange;
        color: white;
        padding: 10px 20px;
        margin: 10px 0px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        width: 100%;
      }

      .reset-password-button:hover {
        background-color: #45a049;
      }
    </style>
  </head>

  <body>
    <div class="reset-password-container">
      <h2>Reset your password</h2>
      <hr />
      <p>
        Need to reset your password? No problem! Just click the button below and
        you'll be on your way.If you did not make this request, please ignore
        this email.
      </p>
      <a class="reset-password-button" href="<%=forgetPasswordUrl%>"
        >Reset your password</a
      >
    </div>
  </body>
</html>
